<!DOCTYPE html>
<html>
		<head>
	<meta charset="utf-8">
		<title>Portfolio</title>
	</head>	

	<body>
		{{> header}}
		<h1>{{pageTitle}}</h1>
		<!-- helperFunction space argument (this is the format below-->
		<p>{{screamIt welcomeMessage}}</p>

		{{> footer}}
	</body>
</html>